*{
	padding: 0;
	margin: 0;
}
body:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(to bottom right, #D7BBEA, #65A8F1);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
body {
    font-family: "Rubik",sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3E4B5B;
    background-color: #fff;
    min-height: 100%;
    overflow-x: hidden;
}

.all-wrapper {
    box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
    border-radius: 4px;
    max-width: 1600px;
    margin: 0px auto;
    position: relative;
    min-height: 100%;
}
.auth-wrapper .all-wrapper {
    padding: 100px;
}
.all-wrapper.with-pattern {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    background-image: url(../images/bg-pattern2.png);
    background-size: contain;
    background-repeat: repeat;
    background-position: 0 0;
}
.auth-box-w {
    max-width: 450px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
}
.auth-box-w .logo-w {
    text-align: center;
    padding: 20%;
}
.auth-box-w .auth-header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    padding-left: 80px;
}
.auth-box-w .auth-header:after {
    content: "";
    background-color: #047bf8;
    width: 32px;
    height: 7px;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 80px;
}
.auth-box-w form {
    padding: 20px 80px;
    padding-bottom: 10px;
}
.auth-box-w .buttons-w {
    padding-top: 1rem;
    margin-top: 0.5rem;
    border-top: 1px solid rgba(0,0,0,0.05);
}
.auth-box-w form .form-check-inline {
    margin-left: 1rem;
}
.form-check-label {
    padding-left: 1.25rem;
    margin-bottom: 0;
    cursor: pointer;
}
.form-check-inline .form-check-label {
    vertical-align: middle;
}
.form-check-input {
    position: absolute;
    margin-top: .25rem;
    margin-left: -1.25rem;
}
.form-check-input {
    margin-right: 0.5rem;
}
.form-check-input:only-child {
    position: static;
}
.link-signin{
	margin-top: 25px;
	text-align: center;
    font-size: 13px;
    opacity: 0.8;
}